
.areaCentral
{
width: 700px;
margin: auto;
}

.areaPrincipal
{
margin: 55px auto 10px auto;
}

.conteudo
{
background-color: white;
padding: 10px;
margin-bottom: 10px;
}

.alinhaEsquerda
{
float: left;
}

.alinhaDireita
{
float: right;
}

.subtitulo
{
font-weight: normal;
font-size: 75%;
border-bottom: 1px solid lightgreen;
display: block;
padding-bottom: 10px;
margin-bottom: 10px;
}

.imagemManchete
{
float: left;
margin: 0 10px 5px 0;
}

.rodapeManchete
{
border-left: 5px solid lightgreen;
padding-left: 10px;
display: block;
margin-top: 10px;
}